@model Employee.DAL.EmployeeRepository

@{
    ViewBag.Title = "Display";
}

<h2>Employee Details</h2>
@Html.ActionLink("Add Employee Details","Create")<br/><br/>
<table>
 
    @foreach (Employee.Entity.EmployeeEntity result in (List<Employee.Entity.EmployeeEntity>)TempData["employee"])
    {
        <tr>
            <td>
                @result.EmployeeId
            </td>
            <td>
                @result.EmployeeName
            </td>
            <td>
                @result.Salary
            </td>
            <td>
                @result.City
            </td>
            <td>
                @Html.ActionLink("Edit","Edit",new { id=result.EmployeeId})|
                @Html.ActionLink("Delete", "Delete", new { id=result.EmployeeId})
            </td>
        </tr>

    }
</table>


